.button {
  margin: 0 8px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #00cbf0;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.buttonsWrapper {
  margin: 8px;
}

.resetButton {
  text-transform: uppercase;
}
